version: "3.9"

services:
 db:
  image: postgres
  container_name: my_db 
  environment:
    POSTGRES_USER: user
    POSTGRES_PASSWORD: password
    POSTGRES_DB: mydb
  ports:
    - "5432:5432"
  volumes:
    - db_data:/var/lib/postgresql/data
 pgadmin:
    image: dpage/pgadmin4
    container_name: my_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db  
volumes:
  db_data:
